<mat-toolbar color="accent">

    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">

        <a routerLink="">
            <button mat-menu-item>
                <span>Home</span>
            </button>
        </a>

        <a routerLink="transaction">
            <button mat-menu-item>
                <span>Transactions</span>
            </button>
        </a>

        <a routerLink="stats">
            <button mat-menu-item>
                <span>My stats</span>
            </button>
        </a>

    </mat-menu>

    <div> <br><br> </div>

    <div>Scrappy</div>


</mat-toolbar>